
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/misc.xml
.idea/modules.xml
.idea/python-project-lvl1.iml
.idea/vcs.xml
brain_games/scripts/__pycache__/brain_games.cpython-310.pyc
